@font-face {
  font-family: 'Comfortaa';
  font-weight: 700;
  font-style: bold;
  src: url('./assets/fonts/Comfortaa-Bold.ttf');
}

@keyframes in {
  from {
    transform: translate(100%);
   }
  to {
    transform: translate(0);
   }
 }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; 
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: 'Comfortaa';
  font-weight: 700;
  font-size: 1rem;
  color: #525252;
}

.title {
  margin: 4vh auto;
  font-size: 3rem;
  text-align: center;
}

.slider-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 0 1fr max-content;
  margin: 0 auto;
  width: 50vh;
  max-width: 90%;
  overflow: hidden;
}

input {
  margin: 0;
  opacity: 0;
}

.slider-viewport {
  grid-column-start: 1;
  grid-column-end: 5;
  display: grid;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.slide {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  opacity: 0;
  transition: 1s;
}

input#button-one:checked ~ .slider-viewport .slide:nth-child(1),
input#button-two:checked ~ .slider-viewport .slide:nth-child(2),
input#button-three:checked ~ .slider-viewport .slide:nth-child(3),
input#button-four:checked ~ .slider-viewport .slide:nth-child(4) {
  opacity: 1;
  transition: 1s;
}

.slide img {
  border-radius: 2vh;
  width: 100%;
}

.slider-bottom {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1vh;
  padding-bottom: 4vh;
  width: 100%;
}

.content {
  display: grid;
  overflow: hidden;
  width: 32vh;
}

.text {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
  opacity: 0;
  margin: 0;
  font-size: 1.5rem;
  user-select: none;
}

input#button-one:checked ~ .slider-bottom .text:nth-child(1),
input#button-two:checked ~ .slider-bottom .text:nth-child(2),
input#button-three:checked ~ .slider-bottom .text:nth-child(3),
input#button-four:checked ~ .slider-bottom .text:nth-child(4) {
  opacity: 1;
  animation: in 1.7s ease;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: 16vh;
  list-style: none;
}

.link-item {
  width: 4vh;
  height: 4vh;
}
.label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.label:hover {
  cursor: pointer;
}

.label:hover span,
.label:active span {
  cursor: pointer;
  background-color: #525252;
  transition: 0.5s;
}
.label span {
  display: block;
  margin: 0;
  border-radius: 2vh;
  width: 2vh;
  height: 2vh;
  background-color: #c2c2c2;
}
input#button-one:checked ~ .slider-bottom .navigation .link-item .link-button-one span,
input#button-two:checked ~ .slider-bottom .navigation .link-item .link-button-two span,
input#button-three:checked ~ .slider-bottom .navigation .link-item .link-button-three span,
input#button-four:checked ~ .slider-bottom .navigation .link-item .link-button-four span {
  border: #c2c2c2 0.3vh solid;
  background-color: transparent;
}

@media (max-width: 768px) {
  .title {
    font-size: 2.2rem;
  }
  .slider-bottom {
    flex-direction: column-reverse;
    gap: 1vh;
  }
  .navigation {
    align-self: center;
  }
  .content {
    align-self: flex-start;
    width: 100%;
  }
}

@media (max-height: 600px) {
  .text {
    font-size: 3vh;
  }
}